
.logo {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 #banner {
  width: 100%;
  background-image: url(../odin-recipes/images/banner1.jpeg);
  height: 100px;
  background-color: white;
  background-position: center;
}

.buttons{
  align-items: center;
  padding-top: 20px;
}

.hr1 {
  width: 100%; height: 6px; background-color: brown;
}

a {
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  color: rgb(193, 119, 119);
}



h1, div, p{
  text-align: center;
  font-weight: bold;
}

#Nutrional {
  text-align: left;
}

button {
  background-color: red;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 50px;
  border-color: rgb(7, 0, 0);
  border-style: solid;
  cursor: pointer;
 

}

.apply {
  font-weight: bold; 
  color: black;

}


